.my-image {
    border-radius: 5px;
    max-height: 100px;
    max-width: 100px;
    border: 2px solid #d3d3d3;
}
.my-image-table {
    border-radius: 5px;
    max-height: 75px;
    max-width: 75px;
    border: 2px solid #d3d3d3;
}